# JetBrains
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets.history/
*.vsix

# Environment Variables
.env

# Build
*.exe
*.out

# TODO coverage?

# Coverage reports
coverage.html
coverage-*.html
coverage/
*.coverprofile
*.cov
*.prof
*.profile

# Go test binaries
*.test

# macOS
.DS_Store

# Env files
.env.*
!.env.example

# Docker Compose overrides (team convention)
./deployments/docker-compose.override.yaml
./deploy/docker-compose.override.yaml

# Project-specific
ytdlp_v2
ytdlp
changelog-*
.*
tmp*

# Markdown files (except README.md)
*.md
!README.md

